$scolor:yellow;
h1{
    font-size:40px;
    color:#fff;
    background-color:$scolor;
}
p{
    color:$scolor;
}
div{
    color:$scolor;
    border:5px solid $scolor;
}
h3{
    color:#fff;
    background-color:$scolor;
    
}